@font-face {
  font-family: Rubik;
  src: url('assets/Rubik-Regular.ttf');
}

@font-face {
  font-family: RubikMedium;
  src: url('assets/Rubik-Medium.ttf');
}

@font-face {
  font-family: RubikBold;
  src: url('assets/Rubik-Bold.ttf');
}

body {
  margin: 0;
  font-family: 'Rubik',
    sans-serif;
}

a{
  text-decoration: none;
}
